

<h2 mat-dialog-title>Ajout nouveau utilisateur</h2>
<mat-dialog-content class="mat-typography">

    <div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Identifiant agent</mat-label>
                <input  name="id" [(ngModel)]="id" matInput placeholder="Identifiant agent"  required >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input  name="nom" [(ngModel)]="nom" matInput placeholder="Nom"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
                <input  name="prenom" [(ngModel)]="prenom" matInput placeholder="Prenom"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input  name="email" [(ngModel)]="email" matInput placeholder="Email"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Login</mat-label>
                <input  name="username" [(ngModel)]="username" matInput placeholder="Login"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input  name="password" [(ngModel)]="password" matInput placeholder="Mot de passe" type="password"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Téléphone</mat-label>
                <input  name="telephone" [(ngModel)]="telephone" matInput placeholder="Téléphone"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Fonction</mat-label>
                <input  name="fonction" [(ngModel)]="fonction" matInput placeholder="Fonction"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input  name="adresse" [(ngModel)]="adresse" matInput placeholder="Adresse"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Equipe</mat-label>
                <input  name="equipe" [(ngModel)]="equipe" matInput placeholder="Equipe"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Poste</mat-label>
                <input  name="poste" [(ngModel)]="poste" matInput placeholder="poste"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
           
            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select style="font-weight: bold;color: rgb(5, 5, 141);" name="roles" [(ngModel)]="roles"  disableRipple>
                    <mat-option value="admin">admin</mat-option>
                    <mat-option value="agent">agent</mat-option>
                    <mat-option value="commerciale">Commerciale</mat-option>
                </mat-select>
            </mat-form-field>
        </div>



        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Identifiant responsable</mat-label>
                <mat-select  name="id_responsable" [(ngModel)]="id_responsable" disableRipple>
                  <mat-option value="Abdoulaye">Abdoulaye</mat-option>
                  <mat-option value="Christian">Christian</mat-option>
                  <mat-option value="Ali">Ali</mat-option>
                  <mat-option value="Meissa">Meissa</mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
        
        
        <br>
        <mat-progress-bar *ngIf="progresse" mode="indeterminate"></mat-progress-bar>
      <br> 

    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button style="color: red;background-color: wheat;margin: 15px;" mat-button mat-dialog-close>Annuler</button>
    <!-- <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ajouter le client</button> -->
    <button (click)="onAgent_Registration()" mat-raised-button color="primary">Valider</button>
</mat-dialog-actions>

