


<h2 mat-dialog-title>Ajout nouveau prospect</h2>
<mat-dialog-content class="mat-typography">

    <div>    
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input name="nom" [(ngModel)]="nom" matInput placeholder="nom"  required >
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Prenom</mat-label>
                <input  name="prenom" [(ngModel)]="prenom" matInput placeholder="prenom"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>    
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Adresse</mat-label>
                <input  name="addresse" [(ngModel)]="addresse" matInput placeholder="adresse"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>      
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Code postal</mat-label>
                <input  name="cp" [(ngModel)]="cp" matInput placeholder="code postal"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ville</mat-label>
                <input name="ville" [(ngModel)]="ville" matInput placeholder="ville"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Téléphone</mat-label>
                <input name="telephone" [(ngModel)]="telephone" matInput placeholder="téléphone"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input name="email" [(ngModel)]="email" matInput placeholder="email"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Propriétaire/Locataitre</mat-label>
                <mat-select style="font-weight: bold;color: rgb(5, 5, 141);" name="proprietaire_ou_locataire" [(ngModel)]="proprietaire_ou_locataire"  disableRipple>
                    <mat-option value="proprietaire">Propriétaire</mat-option>
                    <!-- <mat-option value="Nouveau">Nouveau</mat-option> -->
                    <mat-option value="locataire">Locataire</mat-option>
                </mat-select>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Type de logement </mat-label>
                <input  name="type_de_logement" [(ngModel)]="type_de_logement" matInput placeholder="Type de logement"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Statut professionnel </mat-label>
                <input  name="statut_professionnel" [(ngModel)]="statut_professionnel" matInput placeholder="Statut professionnel"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Système chauffage principal </mat-label>
                <input  name="systeme_chauffage_principal" [(ngModel)]="systeme_chauffage_principal" matInput placeholder="Systeme chauffage principal"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
       
     
        <!-- <div>
            <mat-form-field appearance="fill">
                <mat-label>Etat du prospect</mat-label>
                <mat-select name="etape" [(ngModel)]="etape" disableRipple>
                  <mat-option value="Nom assigné">Non assigné</mat-option>
                  <mat-option value="Nouveau">Nouveau</mat-option>
                  <mat-option value="NRP">NRP</mat-option>
                  <mat-option value="A rappeler">A rappeler / En attente</mat-option>
                  <mat-option value="En attente">En attente </mat-option>
                  <mat-option value="Annulé pas intéressé">Annulé pas intéressé </mat-option>
                  <mat-option value="Passé en confirmation">Passé en confirmation </mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
      
        <!-- <input  type="file" style="color: rgb(3, 12, 126);"placeholder="Document"/> -->
        <br> 
       
    </div>

    <mat-progress-bar *ngIf="progresse" mode="indeterminate"></mat-progress-bar>
    <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button style="color: red;background-color: wheat;margin: 15px;" mat-button mat-dialog-close>Annuler</button>
    <!-- <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ajouter le client</button> -->
    <button (click)="onClientRegistration()" mat-raised-button color="primary">Ajouter le client</button>
</mat-dialog-actions>
