

<div class="row">
    <div class="col-8">
        <p>Liste des clients au statut Installation</p>
    </div>
    <div style="text-align: right;padding-top: 35px;" class="col">
        <button style="background-color: peachpuff;" mat-button [matMenuTriggerFor]="animals">Filtrer les
            resultats</button>
        <mat-menu #animals="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="date">Flitrer par date</button>
            <button mat-menu-item [matMenuTriggerFor]="ville">Filtrer par ville</button>
            <button mat-menu-item [matMenuTriggerFor]="sexe">Filtrer par Sexe</button>
            <button mat-menu-item [matMenuTriggerFor]="etat">Filtrer par Etat</button>
            <button mat-menu-item [matMenuTriggerFor]="ville">Filtrer par region</button>
        </mat-menu>

        <mat-menu #date="matMenu">
            <button mat-menu-item>Aujourd'hui</button>
            <button mat-menu-item>Il y'a une semaine</button>
            <button mat-menu-item>Il y'a deux semaine</button>
            <button mat-menu-item>Il y'a un mois</button>
            <button mat-menu-item>Il y'a deux mois</button>
            <button mat-menu-item>Il y'a six mois</button>
            <button mat-menu-item>Il y'a un an</button>
            <button mat-menu-item>Il y'a deux ans</button>
            <button mat-menu-item>Il y'a plus de deux ans</button>
        </mat-menu>

        <mat-menu #ville="matMenu">
            <button mat-menu-item>Paris</button>
            <button mat-menu-item>Lion</button>
            <button mat-menu-item>Bordeaux</button>
            <button mat-menu-item>Nice</button>
            <button mat-menu-item>Marseille</button>
            <button mat-menu-item>Poitouchen</button>
            <button mat-menu-item>Valance</button>
        </mat-menu>

        <mat-menu #sexe="matMenu">
            <button mat-menu-item>Masculin</button>
            <button mat-menu-item>Feminin</button>
        </mat-menu>

        <mat-menu #etat="matMenu">
            <button mat-menu-item>NRP</button>
            <button mat-menu-item>Confirmé</button>
            <button mat-menu-item>Indéci</button>
            <button mat-menu-item>RDV</button>
        </mat-menu>


    </div>

</div>

<div *ngIf="datas" style="margin: 5px;" >
    <table  class="table  table-striped table-bordered table-sm row-border hover mat-elevation-z8" datatable [dtOptions]="dtOptions">
        <thead  style="background-color: rgb(51, 35, 161);color: floralwhite;"> 
          <tr>
              <th scope="col">Date</th>
              <th scope="col">Proprie/Loca</th>
              <th scope="col">type logement</th>
              <th scope="col">status pro</th>
              <th scope="col">systeme de chauffage</th>
              <th scope="col">prenom</th>
              <th scope="col">ville</th>
              <th scope="col">Etat</th>
              <th scope="col">telephone</th>             
              <th scope="col">Action</th>
            <!-- <th scope="col">suprimmer</th> -->
          </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let data of datas" >
              
              <td>{{data.created_time | date: 'dd/MM/yyyy'}}</td>
              <td>{{data.proprietaire_ou_locataire}}</td>
              <td>{{data.type_de_logement}}</td>             
              <td>{{data.statut_professionnel}}</td>
              <td>{{data.systeme_chauffage_principal}}</td>
              <td>{{data.nom}}</td>
              <td>{{data.ville}}</td>
              <td [ngStyle]="{backgroundColor: data.color}" >{{data.etat_Lead}}</td>
              <td>{{data.telephone}}</td>            
              <td>  <button (click)="onEditFiche(data)" mat-icon-button color="primary" class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>edit</mat-icon>
              </button> </td>
              <!-- <td >  <button [swal]="deleteSwal"  (confirm)="onGet_Delete_Client(data)" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>delete_outline</mat-icon>
              </button> </td> -->
            </tr>
          
        </tbody>
      </table>
</div>


<div *ngIf="! datas" class="div_spinner">
    <mat-spinner></mat-spinner>
</div>