
<h2 mat-dialog-title>Ajout nouveau produit</h2>
<mat-dialog-content class="mat-typography">

    <div>
        <!-- <div>
            <mat-form-field appearance="outline">
                <mat-label>Identifiant Produit</mat-label>
                <input name="id_produit" [(ngModel)]="id_produit" matInput placeholder="Identifiant"  required >              
            </mat-form-field>
        </div> -->
        <div>
            <mat-form-field appearance="outline">
                <mat-label>nom</mat-label>
                <input name="nom" [(ngModel)]="nom" matInput placeholder="nom"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input name="description" [(ngModel)]="description" matInput placeholder="Description"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Référence </mat-label>
                <input name="reference" [(ngModel)]="reference" matInput placeholder="Référence"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Marque</mat-label>
                <input name="marque" [(ngModel)]="marque" matInput placeholder="Marque"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Catégorie</mat-label>
                <input name="categorie" [(ngModel)]="categorie" matInput placeholder="Catégorie"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Prix d'achat</mat-label>
                <input name="prix_achat" [(ngModel)]="prix_achat" matInput placeholder="achat"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
      <div>
         <mat-form-field appearance="fill">
                    <mat-label>TVA applicable</mat-label>
                    <mat-select  name="tva" [(ngModel)]="tva" style="font-weight: bold;color: rgb(5, 5, 141);" >
                        <mat-option value="5.5">TVA collectée (vente) 5,5% </mat-option>
                    </mat-select>
         </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Prix de vente</mat-label>
                <input name="prix_vente_ref" [(ngModel)]="prix_vente_ref" matInput placeholder="Commantaire"  required >
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Description vente...</mat-label>
                <textarea name="commentaire" [(ngModel)]="commentaire" matInput  rows="5"
                    placeholder="Commentaire vente..."></textarea>
            </mat-form-field>            
        </div>
        
        <br>
        <!-- <ngx-dropzone class="import_fiche" style="height: 150px; background-color: rgb(253, 253, 196);" (change)="onSelect($event)">
            <ngx-dropzone-label>Glissez la fiche tecnique ici.</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" style="height: 70px"
                (removed)="onRemove(f)">
                <ngx-dropzone-label style="font-size: 12px;"> {{ f.name }} </ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone> -->
       
        <br>
        <mat-progress-bar *ngIf="progresse" mode="indeterminate"></mat-progress-bar>
        <br> 
  
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button style="color: red;background-color: wheat;margin: 15px;" mat-button mat-dialog-close>Annuler</button>
    <!-- <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ajouter le client</button> -->
    <button (click)="onProduit_Registration()" mat-raised-button color="primary">Ajouter Produit</button>
</mat-dialog-actions>