<mat-toolbar color="primary">
    <button (click)="goBack() " mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Detail fiche cliente</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>assignment_ind</mat-icon>
    </button>
</mat-toolbar>
<div style="width: 100%; padding: 15px; height: max-content; background-color: silver;">
    <div class="row">
        <div class="col-4">

            <mat-card>
                <P>Information sur le client</P>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">account_box</mat-icon>
                            Informations Personnelles
                        </ng-template>

                        <div style="height: 98%;">
                            <div>
                                <br><br>
                                <mat-form-field appearance="fill">
                                    <mat-label>Etat du prospect</mat-label>
                                    <mat-select disableRipple>
                                        <mat-option value="1">Non assigné</mat-option>
                                        <mat-option value="2">Nouveau</mat-option>
                                        <mat-option value="3">NRP</mat-option>
                                        <mat-option value="3">A rappeler / En attente</mat-option>
                                        <mat-option value="3">En attente </mat-option>
                                        <mat-option value="3">Annulé pas intéressé </mat-option>
                                        <mat-option value="3">Passé en confirmation </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Nom</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>

                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Prenom</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Numéro fiscal</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Référence de l’avis d’impôt </mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Adresse</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Code postal</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Ville</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Téléphone</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Placeholder" required>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </div>

                            <br>
                            <button style="color: red;background-color: wheat;margin: 15px;" mat-button
                                mat-dialog-close>Annuler</button>
                            <!-- <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ajouter le client</button> -->
                            <button mat-raised-button color="primary">Enregistrer les modifications</button>
                        </div>

                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">event_note</mat-icon>
                            Historiques traitement
                        </ng-template>
                        <table style="height: 98%;" class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Agent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Ouverture du dossier</td>
                                    <td>12/05/2019</td>
                                    <td>Christian</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Ouverture du dossier et modifacation</td>
                                    <td>12/05/2019</td>
                                    <td>Christian</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Chagement de statut</td>
                                    <td>12/05/2020</td>
                                    <td>Christian</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Appeler le prospect</td>
                                    <td>12/05/2020</td>
                                    <td>Christian</td>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Modification des informations Personnelles</td>
                                    <td>12/05/2020</td>
                                    <td>Christian</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Ajout de nouveau document</td>
                                    <td>12/05/2020</td>
                                    <td>Christian</td>
                                </tr>

                            </tbody>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>

        </div>



        <div class="col-8">
            <mat-card>
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">construction</mat-icon>
                            Chantier
                        </ng-template>
                        <br>
                        <p>En cours de developpement...</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <mat-card >
                                        <div style="background-color: rgb(54, 57, 224);color: aliceblue; text-align: center;padding: 10px;">                                        
                                            <h4>Catégorie sociale</h4>
                                        </div>
                                        <mat-card-content>
                                            <h3 style="color: rgb(11, 4, 99); text-align: center;padding-top: 20px;padding-bottom: 20px;" >
                                                Grande précarité
                                            </h3>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-3">
                                    <mat-card >
                                        <div style="background-color: rgb(11, 7, 146); color: aliceblue; text-align: center;padding-top: 10px;padding-bottom: 10px;">                                        
                                            <h4>Zone géographique</h4>
                                        </div>
                                        <mat-card-content>
                                            <h3 style="color: rgb(11, 4, 99); text-align: center;padding-top: 20px;padding-bottom: 20px;" >
                                               II1
                                            </h3>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-3">
                                    <mat-card >
                                        <div style="background-color: rgb(9, 6, 116); color: aliceblue; text-align: center;padding: 10px;">                                        
                                            <h4>Type de chauffage</h4>
                                        </div>
                                        <mat-card-content>
                                            <h3 style="color: rgb(9, 3, 97);  text-align: center;padding-top: 20px;padding-bottom: 20px;" >
                                               Foul
                                            </h3>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            
                            <div class="col-3">
                                <mat-card >
                                    <div style="background-color: rgb(55, 6, 133); color: aliceblue; text-align: center;padding: 10px;">                                        
                                        <h4>Surface chauffée</h4>
                                    </div>
                                    <mat-card-content>
                                        <h3 style="color: rgb(1, 1, 19); text-align: center;padding-top: 20px;padding-bottom: 20px;" >
                                            0m²
                                        </h3>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                        </div>
                        <p>Infos fiscales</p>
                        <br>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Numéro fiscal</th>
                                    <th scope="col">Reférence avis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Avis 1</th>
                                    <td>  <mat-form-field appearance="outline">
                                        <mat-label>Numéro fiscal</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field> </td>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Saisissez la référence d'avis d'imposition</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field></td>

                                </tr>
                                <tr>
                                    <th scope="row">Avis 5</th>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Numéro fiscal</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field> </td>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Saisissez la référence d'avis d'imposition</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field></td>

                                </tr>
                                <tr>
                                    <th scope="row">Avis 3</th>
                                    <td> <mat-form-field appearance="outline">
                                        <mat-label>Numéro fiscal</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field> </td>
                                    <td> <mat-form-field appearance="outline">
                                        <mat-label>Saisissez la référence d'avis d'imposition</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field></td>

                                </tr>
                                <tr>
                                    <th scope="row">Avis 4</th>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Numéro fiscal</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field> </td>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Saisissez la référence d'avis d'imposition</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field></td>

                                </tr>
                                <tr>
                                    <th scope="row">Avis 5</th>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Numéro fiscal</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field> </td>
                                    <td><mat-form-field appearance="outline">
                                        <mat-label>Saisissez la référence d'avis d'imposition</mat-label>
                                        <input matInput placeholder="Placeholder" required>
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field></td>

                                </tr>

                            </tbody>
                        </table>

                        <br>
                        <button mat-raised-button color="primary">Voire la fiche fiscale</button>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">chat</mat-icon>
                            Commentaire
                        </ng-template>
                        <p>Commentaires coùmmerciaux</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Dtae</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>26/08/2020 15H:30</td>
                                    <td>C’est la partie qui recense chaque action qui a été faite, avec l’heure la date
                                        et le profil de la personne qui s’est connectée sur le profil.</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>26/08/2020 15H:30</td>
                                    <td>C’est la partie qui recense chaque action qui a été faite, avec l’heure la date
                                        et le profil de la personne qui s’est connectée sur le profil.</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>26/08/2020 15H:30</td>
                                    <td>C’est la partie qui recense chaque action qui a été faite, avec l’heure la date
                                        et le profil de la personne qui s’est connectée sur le profil.</td>

                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>26/08/2020 15H:30</td>
                                    <td>C’est la partie qui recense chaque action qui a été faite, avec l’heure la date
                                        et le profil de la personne qui s’est connectée sur le profil.</td>

                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>26/08/2020 15H:30</td>
                                    <td>C’est la partie qui recense chaque action qui a été faite, avec l’heure la date
                                        et le profil de la personne qui s’est connectée sur le profil.</td>

                                </tr>

                            </tbody>
                        </table>
                        <br><br>
                        <mat-form-field class="example-full-width">
                            <mat-label>Nouveau commentaire</mat-label>
                            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        </mat-form-field>
                        <br>
                        <button style="color: rgb(1, 2, 73);background-color: wheat;margin: 15px;" mat-button
                            mat-dialog-close>Créer un rappel pour ce client</button>
                        <button style="color: rgb(61, 3, 155);background-color: wheat;margin: 15px;" mat-button
                            mat-dialog-close>Envoyer un email</button> <span class="example-spacer"></span>
                        <!-- <button color="primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ajouter le client</button> -->
                        <button mat-raised-button color="primary">Ajouter un commentaire</button>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">location_on</mat-icon>
                            Localisation
                        </ng-template>

                        <p>Localisation client/prospect</p>
                        <img
                            src="https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/02/06/node_706126/45301807/public/2020/02/06/B9722496544Z.1_20200206160644_000%2BGR7FFB0KV.1-0.jpg?itok=UEAQHrQD1581001610">

                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">insert_invitation</mat-icon>
                            Rendez-vous
                        </ng-template>

                        <p>Bientot disoponible</p>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">file_copy</mat-icon>
                            Documents
                        </ng-template>

                        <p>Documents client/prospect</p>
                        <br>
 
                        <ngx-dropzone  class="import_fiche" style="height: 250px" (change)="onSelect($event)">                       
                          <ngx-dropzone-label>Glissez vos fichiers a ajouter ici.</ngx-dropzone-label>                       
                          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">                       
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>                        
                          </ngx-dropzone-preview>                       
                        </ngx-dropzone>
                      
                        <mat-icon style="font-size: 100px; margin: 45px;" color="primary" class="example-tab-icon">description</mat-icon>
                        <mat-icon style="font-size: 100px; margin: 45px;" color="primary" class="example-tab-icon">description</mat-icon>
                        <mat-icon style="font-size: 100px; margin: 45px;" color="primary" class="example-tab-icon">description</mat-icon>
                        <mat-icon style="font-size: 100px; margin: 45px;" color="primary" class="example-tab-icon">description</mat-icon>
                    </mat-tab>

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon color="primary" class="example-tab-icon">create</mat-icon>
                            Signature document
                        </ng-template>

                        <p>>En cours de developpement...</p>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>

    </div>
</div>