

.example-spacer {
    flex: 1 1 auto;
  }
  p{
    font-weight: bold;
    font-size: 15px;
    margin: 10px;
    color: darkblue;
}

input{
    font-weight: bold;
}
mat-form-field{
    color: rgb(15, 14, 11);
    width: 97%;
  
}
h3{
    font-size: 15px; color: darkviolet;
}

.import_fiche:hover{
    background-color: rgb(244, 248, 192);
}